@import "./default.less";
@import "./loading.less";

ul, li {
  list-style: none;
}
.clearfix{
  &::after{
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
  }
}
.content{
  padding: 20px;
}
.container {
  display: flex;
  .nav-left {
    width: 15%;
    min-width: 180px;
    height: calc(100vh);
    color: #fff;
    background-color: #001529;
  }
  .main {
    flex: 1;
    height: calc(100vh);
    background-color: @colorL;
    overflow: auto; //自动滚动
  }
  .content{
    position: relative;
    padding: 20px;
  }
}